<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genericslab.medpro">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        android:name="com.orm.SugarApp"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name">
        <meta-data
            android:name="DATABASE"
            android:value="patients.db"></meta-data>
        <meta-data
            android:name="VERSION"
            android:value="1"></meta-data>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"></meta-data>

        <activity
            android:name=".ui.MainActivity_"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity_"></activity>
    </application>

</manifest>